<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../scripts/angular.js"></script>

    <style>
        .textbox {
            width: 75%;
            float: right;
        }

        .form-control {
            height: 30px;
        }
    </style>

    <script>

        var app = angular.module("app", []);

     

        app.controller("Ctrl1", function ($scope,  Calculate) {

            $http.get("/Parameters/GetAccounts")
                                .then(function (response) {
                                    $scope.projects = response.data;
                                });

           
            $scope.selectedProject = "";
            $scope.quarters = ["Q1", "Q2", "Q3", "Q4"];

            $scope.getParameterInputScores = function () {

                
                    var SelectedData = { AccountID: $scope.selectedProject };
                $http({
                    url: 'GetFinalScore',
                    data: SelectedData,
                    method: 'POST',


                })
                  .then(function (response) {
                      $scope.finalScore = response.data;
                  });
                //$scope.finalScore = GetJsonData.usingWebService("");
                $scope.totalScore = [];

                for (var i = 0 ; i < $scope.finalScore[i].Score.length; i++) {
                    var total = 0;
                    for(var j= 0 ; j < $scope.finalScore.length; j++){
                        total += $scope.finalScore[j].Score[i];
                        }
                    $scope.totalScore.push(total);
                };
            }
        });

    </script>
</head>

<body ng-app="app" ng-controller="Ctrl1">
    <div class="container">
        <div style="height:  150px"></div>
        <div class="form-horizontal">

            <div class="form-group">
                <ul>
                    <li style="display:inline-block">
                        <a href="ManageParameters.html">Manage Parameters</a>
                    </li>
                    <li style="display:inline-block">
                        <a href="ManageParameterDefinitions.html">Manage Parameters Definitions</a>
                    </li>
                    <li style="display:inline-block">
                        <a href="InputScores.html">Input Scores</a>
                    </li>
                    <li style="display:inline-block">
                        <a href="PMReportDownload.html">PM Report Download</a>
                    </li>
                    <li style="display:inline-block">
                        <a href="KRAReportDownload.html">KRA Report Download</a>
                    </li>
                </ul>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Select project :</label>
                <div class="col-md-2">
                    <select class="form-control" ng-model="selectedProject" ng-options="project.id as project.name for project in projects"
                            ng-change="getParameterInputScores()">
                        <option value=""> --Select project-- </option>
                    </select>
                </div>
            </div>




            <div class="form-group">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading" style="height:50px">
                        <div class="form-group" ng-show="selectedProject">
                            <label class="control-label col-md-2 col-md-offset-2">Parameter</label>
                            <label class="control-label col-md-1">Weightage</label>
                            <label class="control-label col-md-1" ng-repeat="quarter in quarters" ng-show="$index < finalScore[0].Score.length">{{quarter}}</label>
                        </div>
                    </div>
                    <div class="panel-body">



                        <div class="form-group" ng-repeat="f in finalScore" ng-show="selectedProject">
                            <label class="control-label col-md-2 col-md-offset-2">{{f.ParameterName}}</label>
                            <label class="control-label col-md-1">{{f.Weightage}}%</label>
                            <label class="control-label col-md-1" ng-repeat="s in f.Score track by $index">{{s}}%</label>
                        </div>

                        <div class="form-group" ng-show="selectedProject">
                            <label class="control-label col-md-2 col-md-offset-2">Final Score</label>
                            <label class="control-label col-md-1">100%</label>
                            <label class="control-label col-md-1" ng-repeat="t in totalScore track by $index">{{t}}%</label>
                        </div>


                        <div class="form-group" ng-show="selectedProject">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" style="float: right; width:100%">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


</body>

</html>